/**
 * @file
 * Stylesheet for the administration pages of the Color module.
 */

#system-theme-settings #preview iframe {
  width: 100%;
  height: 70vh;
}

@media (min-width: 62em) {
  #system-theme-settings {
    position: relative;
  }

  #system-theme-settings fieldset {
    min-width: 30%;
    max-width: 30%;
    float: left;
    clear: left;
  }

  #system-theme-settings #edit-actions {
    float: left;
    clear: left;
  }

  #system-theme-settings #preview {
    min-width: 55%;
    position: fixed;
    left: 35%;
  }
}

@media (min-width: 80em) {
  #system-theme-settings #preview {
    min-width: 50%;
    left: 35%;
  }
}

@media (min-width: 90em) {
  #system-theme-settings #preview {
    min-width: 45%;
    left: 40%;
  }
}

#system-theme-settings .form-item label {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
#system-theme-settings .form-color,
#system-theme-settings .form-select {
  vertical-align: middle;
}
#system-theme-settings .form-color {
  text-align: center;
  margin-right: 5px; /* LTR */
  cursor: pointer;
  max-width: 8em;
}
[dir="rtl"] .color-form .form-color {
  margin-right: 0;
  margin-left: 5px;
}
#system-theme-settings select {
  max-width: 9em;
}

#system-theme-settings input[type=color] {
  padding: 0;
}